//
//  Production.xcconfig
//  NYTDemo
//
//  Created by Rana Ijaz on 19/01/2022.
//  Copyright © 2022 Rana Ijaz. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

BASE_URL = https:/$()/api.nytimes.com/svc/
APP_BUNDLE_ID = com.nytime
APP_NAME = NYT Demo
